<div class="jumbotron">
    <div class="container">
      <h1>About us</h1>
      <p>We're working on our project.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore praesentium ex natus debitis autem ullam possimus, iste rerum illo impedit aut culpa? Quibusdam aut reprehenderit quasi ab delectus quis veniam.</p>
    </div>
</div>

